@font-face {
  font-family: 'FontAwesome';
  src: url('font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon($content) {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    content: $content
  }
}

.addressBook { @include icon("\f2b9") }
.addressBookOutline { @include icon("\f2ba") }
.addressCard { @include icon("\f2bb") }
.addressCardOutline { @include icon("\f2bc") }
.adjust { @include icon("\f042") }
.adn { @include icon("\f170") }
.alignCenter { @include icon("\f037") }
.alignJustify { @include icon("\f039") }
.alignLeft { @include icon("\f036") }
.alignRight { @include icon("\f038") }
.amazon { @include icon("\f270") }
.ambulance { @include icon("\f0f9") }
.americanSignLanguageInterpreting { @include icon("\f2a3") }
.anchor { @include icon("\f13d") }
.android { @include icon("\f17b") }
.angellist { @include icon("\f209") }
.angleDoubleDown { @include icon("\f103") }
.angleDoubleLeft { @include icon("\f100") }
.angleDoubleRight { @include icon("\f101") }
.angleDoubleUp { @include icon("\f102") }
.angleDown { @include icon("\f107") }
.angleLeft { @include icon("\f104") }
.angleRight { @include icon("\f105") }
.angleUp { @include icon("\f106") }
.apple { @include icon("\f179") }
.archive { @include icon("\f187") }
.areaChart { @include icon("\f1fe") }
.arrowCircleDown { @include icon("\f0ab") }
.arrowCircleLeft { @include icon("\f0a8") }
.arrowCircleOutlineDown { @include icon("\f01a") }
.arrowCircleOutlineLeft { @include icon("\f190") }
.arrowCircleOutlineRight { @include icon("\f18e") }
.arrowCircleOutlineUp { @include icon("\f01b") }
.arrowCircleRight { @include icon("\f0a9") }
.arrowCircleUp { @include icon("\f0aa") }
.arrowDown { @include icon("\f063") }
.arrowLeft { @include icon("\f060") }
.arrowRight { @include icon("\f061") }
.arrowUp { @include icon("\f062") }
.arrows { @include icon("\f047") }
.arrowsAlt { @include icon("\f0b2") }
.arrowsH { @include icon("\f07e") }
.arrowsV { @include icon("\f07d") }
.assistiveListeningSystems { @include icon("\f2a2") }
.asterisk { @include icon("\f069") }
.at { @include icon("\f1fa") }
.audioDescription { @include icon("\f29e") }
.backward { @include icon("\f04a") }
.balanceScale { @include icon("\f24e") }
.ban { @include icon("\f05e") }
.bandcamp { @include icon("\f2d5") }
.barChart { @include icon("\f080") }
.barcode { @include icon("\f02a") }
.bars { @include icon("\f0c9") }
.bath { @include icon("\f2cd") }
.batteryEmpty { @include icon("\f244") }
.batteryFull { @include icon("\f240") }
.batteryHalf { @include icon("\f242") }
.batteryQuarter { @include icon("\f243") }
.batteryThreeQuarters { @include icon("\f241") }
.bed { @include icon("\f236") }
.beer { @include icon("\f0fc") }
.behance { @include icon("\f1b4") }
.behanceSquare { @include icon("\f1b5") }
.bell { @include icon("\f0f3") }
.bellOutline { @include icon("\f0a2") }
.bellSlash { @include icon("\f1f6") }
.bellSlashOutline { @include icon("\f1f7") }
.bicycle { @include icon("\f206") }
.binoculars { @include icon("\f1e5") }
.birthdayCake { @include icon("\f1fd") }
.bitbucket { @include icon("\f171") }
.bitbucketSquare { @include icon("\f172") }
.blackTie { @include icon("\f27e") }
.blind { @include icon("\f29d") }
.bluetooth { @include icon("\f293") }
.bluetoothB { @include icon("\f294") }
.bold { @include icon("\f032") }
.bolt { @include icon("\f0e7") }
.bomb { @include icon("\f1e2") }
.book { @include icon("\f02d") }
.bookmark { @include icon("\f02e") }
.bookmarkOutline { @include icon("\f097") }
.braille { @include icon("\f2a1") }
.briefcase { @include icon("\f0b1") }
.btc { @include icon("\f15a") }
.bug { @include icon("\f188") }
.building { @include icon("\f1ad") }
.buildingOutline { @include icon("\f0f7") }
.bullhorn { @include icon("\f0a1") }
.bullseye { @include icon("\f140") }
.bus { @include icon("\f207") }
.buysellads { @include icon("\f20d") }
.calculator { @include icon("\f1ec") }
.calendar { @include icon("\f073") }
.calendarCheckOutline { @include icon("\f274") }
.calendarMinusOutline { @include icon("\f272") }
.calendarOutline { @include icon("\f133") }
.calendarPlusOutline { @include icon("\f271") }
.calendarTimesOutline { @include icon("\f273") }
.camera { @include icon("\f030") }
.cameraRetro { @include icon("\f083") }
.car { @include icon("\f1b9") }
.caretDown { @include icon("\f0d7") }
.caretLeft { @include icon("\f0d9") }
.caretRight { @include icon("\f0da") }
.caretSquareOutlineDown { @include icon("\f150") }
.caretSquareOutlineLeft { @include icon("\f191") }
.caretSquareOutlineRight { @include icon("\f152") }
.caretSquareOutlineUp { @include icon("\f151") }
.caretUp { @include icon("\f0d8") }
.cartArrowDown { @include icon("\f218") }
.cartPlus { @include icon("\f217") }
.cc { @include icon("\f20a") }
.ccAmex { @include icon("\f1f3") }
.ccDinersClub { @include icon("\f24c") }
.ccDiscover { @include icon("\f1f2") }
.ccJcb { @include icon("\f24b") }
.ccMastercard { @include icon("\f1f1") }
.ccPaypal { @include icon("\f1f4") }
.ccStripe { @include icon("\f1f5") }
.ccVisa { @include icon("\f1f0") }
.certificate { @include icon("\f0a3") }
.chainBroken { @include icon("\f127") }
.check { @include icon("\f00c") }
.checkCircle { @include icon("\f058") }
.checkCircleOutline { @include icon("\f05d") }
.checkSquare { @include icon("\f14a") }
.checkSquareOutline { @include icon("\f046") }
.chevronCircleDown { @include icon("\f13a") }
.chevronCircleLeft { @include icon("\f137") }
.chevronCircleRight { @include icon("\f138") }
.chevronCircleUp { @include icon("\f139") }
.chevronDown { @include icon("\f078") }
.chevronLeft { @include icon("\f053") }
.chevronRight { @include icon("\f054") }
.chevronUp { @include icon("\f077") }
.child { @include icon("\f1ae") }
.chrome { @include icon("\f268") }
.circle { @include icon("\f111") }
.circleOutline { @include icon("\f10c") }
.circleOutlineNotch { @include icon("\f1ce") }
.circleThin { @include icon("\f1db") }
.clipboard { @include icon("\f0ea") }
.clockOutline { @include icon("\f017") }
.clone { @include icon("\f24d") }
.cloud { @include icon("\f0c2") }
.cloudDownload { @include icon("\f0ed") }
.cloudUpload { @include icon("\f0ee") }
.code { @include icon("\f121") }
.codeFork { @include icon("\f126") }
.codepen { @include icon("\f1cb") }
.codiepie { @include icon("\f284") }
.coffee { @include icon("\f0f4") }
.cog { @include icon("\f013") }
.cogs { @include icon("\f085") }
.columns { @include icon("\f0db") }
.comment { @include icon("\f075") }
.commentOutline { @include icon("\f0e5") }
.commenting { @include icon("\f27a") }
.commentingOutline { @include icon("\f27b") }
.comments { @include icon("\f086") }
.commentsOutline { @include icon("\f0e6") }
.compass { @include icon("\f14e") }
.compress { @include icon("\f066") }
.connectdevelop { @include icon("\f20e") }
.contao { @include icon("\f26d") }
.copyright { @include icon("\f1f9") }
.creativeCommons { @include icon("\f25e") }
.creditCard { @include icon("\f09d") }
.creditCardAlt { @include icon("\f283") }
.crop { @include icon("\f125") }
.crosshairs { @include icon("\f05b") }
.css3 { @include icon("\f13c") }
.cube { @include icon("\f1b2") }
.cubes { @include icon("\f1b3") }
.cutlery { @include icon("\f0f5") }
.dashcube { @include icon("\f210") }
.database { @include icon("\f1c0") }
.deaf { @include icon("\f2a4") }
.delicious { @include icon("\f1a5") }
.desktop { @include icon("\f108") }
.deviantart { @include icon("\f1bd") }
.diamond { @include icon("\f219") }
.digg { @include icon("\f1a6") }
.dotCircleOutline { @include icon("\f192") }
.download { @include icon("\f019") }
.dribbble { @include icon("\f17d") }
.dropbox { @include icon("\f16b") }
.drupal { @include icon("\f1a9") }
.edge { @include icon("\f282") }
.eercast { @include icon("\f2da") }
.eject { @include icon("\f052") }
.ellipsisH { @include icon("\f141") }
.ellipsisV { @include icon("\f142") }
.empire { @include icon("\f1d1") }
.envelope { @include icon("\f0e0") }
.envelopeOpen { @include icon("\f2b6") }
.envelopeOpenOutline { @include icon("\f2b7") }
.envelopeOutline { @include icon("\f003") }
.envelopeSquare { @include icon("\f199") }
.envira { @include icon("\f299") }
.eraser { @include icon("\f12d") }
.etsy { @include icon("\f2d7") }
.eur { @include icon("\f153") }
.exchange { @include icon("\f0ec") }
.exclamation { @include icon("\f12a") }
.exclamationCircle { @include icon("\f06a") }
.exclamationTriangle { @include icon("\f071") }
.expand { @include icon("\f065") }
.expeditedssl { @include icon("\f23e") }
.externalLink { @include icon("\f08e") }
.externalLinkSquare { @include icon("\f14c") }
.eye { @include icon("\f06e") }
.eyeSlash { @include icon("\f070") }
.eyedropper { @include icon("\f1fb") }
.facebook { @include icon("\f09a") }
.facebookOfficial { @include icon("\f230") }
.facebookSquare { @include icon("\f082") }
.fastBackward { @include icon("\f049") }
.fastForward { @include icon("\f050") }
.fax { @include icon("\f1ac") }
.female { @include icon("\f182") }
.fighterJet { @include icon("\f0fb") }
.file { @include icon("\f15b") }
.fileArchiveOutline { @include icon("\f1c6") }
.fileAudioOutline { @include icon("\f1c7") }
.fileCodeOutline { @include icon("\f1c9") }
.fileExcelOutline { @include icon("\f1c3") }
.fileImageOutline { @include icon("\f1c5") }
.fileOutline { @include icon("\f016") }
.filePdfOutline { @include icon("\f1c1") }
.filePowerpointOutline { @include icon("\f1c4") }
.fileText { @include icon("\f15c") }
.fileTextOutline { @include icon("\f0f6") }
.fileVideoOutline { @include icon("\f1c8") }
.fileWordOutline { @include icon("\f1c2") }
.filesOutline { @include icon("\f0c5") }
.film { @include icon("\f008") }
.filter { @include icon("\f0b0") }
.fire { @include icon("\f06d") }
.fireExtinguisher { @include icon("\f134") }
.firefox { @include icon("\f269") }
.firstOrder { @include icon("\f2b0") }
.flag { @include icon("\f024") }
.flagCheckered { @include icon("\f11e") }
.flagOutline { @include icon("\f11d") }
.flask { @include icon("\f0c3") }
.flickr { @include icon("\f16e") }
.floppyOutline { @include icon("\f0c7") }
.folder { @include icon("\f07b") }
.folderOpen { @include icon("\f07c") }
.folderOpenOutline { @include icon("\f115") }
.folderOutline { @include icon("\f114") }
.font { @include icon("\f031") }
.fontAwesome { @include icon("\f2b4") }
.fonticons { @include icon("\f280") }
.fortAwesome { @include icon("\f286") }
.forumbee { @include icon("\f211") }
.forward { @include icon("\f04e") }
.foursquare { @include icon("\f180") }
.freeCodeCamp { @include icon("\f2c5") }
.frownOutline { @include icon("\f119") }
.futbolOutline { @include icon("\f1e3") }
.gamepad { @include icon("\f11b") }
.gavel { @include icon("\f0e3") }
.gbp { @include icon("\f154") }
.genderless { @include icon("\f22d") }
.getPocket { @include icon("\f265") }
.gg { @include icon("\f260") }
.ggCircle { @include icon("\f261") }
.gift { @include icon("\f06b") }
.git { @include icon("\f1d3") }
.gitSquare { @include icon("\f1d2") }
.github { @include icon("\f09b") }
.githubAlt { @include icon("\f113") }
.githubSquare { @include icon("\f092") }
.gitlab { @include icon("\f296") }
.glass { @include icon("\f000") }
.glide { @include icon("\f2a5") }
.glideG { @include icon("\f2a6") }
.globe { @include icon("\f0ac") }
.google { @include icon("\f1a0") }
.googlePlus { @include icon("\f0d5") }
.googlePlusOfficial { @include icon("\f2b3") }
.googlePlusSquare { @include icon("\f0d4") }
.googleWallet { @include icon("\f1ee") }
.graduationCap { @include icon("\f19d") }
.gratipay { @include icon("\f184") }
.grav { @include icon("\f2d6") }
.hSquare { @include icon("\f0fd") }
.hackerNews { @include icon("\f1d4") }
.handLizardOutline { @include icon("\f258") }
.handOutlineDown { @include icon("\f0a7") }
.handOutlineLeft { @include icon("\f0a5") }
.handOutlineRight { @include icon("\f0a4") }
.handOutlineUp { @include icon("\f0a6") }
.handPaperOutline { @include icon("\f256") }
.handPeaceOutline { @include icon("\f25b") }
.handPointerOutline { @include icon("\f25a") }
.handRockOutline { @include icon("\f255") }
.handScissorsOutline { @include icon("\f257") }
.handSpockOutline { @include icon("\f259") }
.handshakeOutline { @include icon("\f2b5") }
.hashtag { @include icon("\f292") }
.hddOutline { @include icon("\f0a0") }
.header { @include icon("\f1dc") }
.headphones { @include icon("\f025") }
.heart { @include icon("\f004") }
.heartOutline { @include icon("\f08a") }
.heartbeat { @include icon("\f21e") }
.history { @include icon("\f1da") }
.home { @include icon("\f015") }
.hospitalOutline { @include icon("\f0f8") }
.hourglass { @include icon("\f254") }
.hourglassEnd { @include icon("\f253") }
.hourglassHalf { @include icon("\f252") }
.hourglassOutline { @include icon("\f250") }
.hourglassStart { @include icon("\f251") }
.houzz { @include icon("\f27c") }
.html5 { @include icon("\f13b") }
.iCursor { @include icon("\f246") }
.idBadge { @include icon("\f2c1") }
.idCard { @include icon("\f2c2") }
.idCardOutline { @include icon("\f2c3") }
.ils { @include icon("\f20b") }
.imdb { @include icon("\f2d8") }
.inbox { @include icon("\f01c") }
.indent { @include icon("\f03c") }
.industry { @include icon("\f275") }
.info { @include icon("\f129") }
.infoCircle { @include icon("\f05a") }
.inr { @include icon("\f156") }
.instagram { @include icon("\f16d") }
.internetExplorer { @include icon("\f26b") }
.ioxhost { @include icon("\f208") }
.italic { @include icon("\f033") }
.joomla { @include icon("\f1aa") }
.jpy { @include icon("\f157") }
.jsfiddle { @include icon("\f1cc") }
.key { @include icon("\f084") }
.keyboardOutline { @include icon("\f11c") }
.krw { @include icon("\f159") }
.language { @include icon("\f1ab") }
.laptop { @include icon("\f109") }
.lastfm { @include icon("\f202") }
.lastfmSquare { @include icon("\f203") }
.leaf { @include icon("\f06c") }
.leanpub { @include icon("\f212") }
.lemonOutline { @include icon("\f094") }
.levelDown { @include icon("\f149") }
.levelUp { @include icon("\f148") }
.lifeRing { @include icon("\f1cd") }
.lightbulbOutline { @include icon("\f0eb") }
.lineChart { @include icon("\f201") }
.link { @include icon("\f0c1") }
.linkedin { @include icon("\f0e1") }
.linkedinSquare { @include icon("\f08c") }
.linode { @include icon("\f2b8") }
.linux { @include icon("\f17c") }
.list { @include icon("\f03a") }
.listAlt { @include icon("\f022") }
.listOl { @include icon("\f0cb") }
.listUl { @include icon("\f0ca") }
.locationArrow { @include icon("\f124") }
.lock { @include icon("\f023") }
.longArrowDown { @include icon("\f175") }
.longArrowLeft { @include icon("\f177") }
.longArrowRight { @include icon("\f178") }
.longArrowUp { @include icon("\f176") }
.lowVision { @include icon("\f2a8") }
.magic { @include icon("\f0d0") }
.magnet { @include icon("\f076") }
.male { @include icon("\f183") }
.map { @include icon("\f279") }
.mapMarker { @include icon("\f041") }
.mapOutline { @include icon("\f278") }
.mapPin { @include icon("\f276") }
.mapSigns { @include icon("\f277") }
.mars { @include icon("\f222") }
.marsDouble { @include icon("\f227") }
.marsStroke { @include icon("\f229") }
.marsStrokeH { @include icon("\f22b") }
.marsStrokeV { @include icon("\f22a") }
.maxcdn { @include icon("\f136") }
.meanpath { @include icon("\f20c") }
.medium { @include icon("\f23a") }
.medkit { @include icon("\f0fa") }
.meetup { @include icon("\f2e0") }
.mehOutline { @include icon("\f11a") }
.mercury { @include icon("\f223") }
.microchip { @include icon("\f2db") }
.microphone { @include icon("\f130") }
.microphoneSlash { @include icon("\f131") }
.minus { @include icon("\f068") }
.minusCircle { @include icon("\f056") }
.minusSquare { @include icon("\f146") }
.minusSquareOutline { @include icon("\f147") }
.mixcloud { @include icon("\f289") }
.mobile { @include icon("\f10b") }
.modx { @include icon("\f285") }
.money { @include icon("\f0d6") }
.moonOutline { @include icon("\f186") }
.motorcycle { @include icon("\f21c") }
.mousePointer { @include icon("\f245") }
.music { @include icon("\f001") }
.neuter { @include icon("\f22c") }
.newspaperOutline { @include icon("\f1ea") }
.objectGroup { @include icon("\f247") }
.objectUngroup { @include icon("\f248") }
.odnoklassniki { @include icon("\f263") }
.odnoklassnikiSquare { @include icon("\f264") }
.opencart { @include icon("\f23d") }
.openid { @include icon("\f19b") }
.opera { @include icon("\f26a") }
.optinMonster { @include icon("\f23c") }
.outdent { @include icon("\f03b") }
.pagelines { @include icon("\f18c") }
.paintBrush { @include icon("\f1fc") }
.paperPlane { @include icon("\f1d8") }
.paperPlaneOutline { @include icon("\f1d9") }
.paperclip { @include icon("\f0c6") }
.paragraph { @include icon("\f1dd") }
.pause { @include icon("\f04c") }
.pauseCircle { @include icon("\f28b") }
.pauseCircleOutline { @include icon("\f28c") }
.paw { @include icon("\f1b0") }
.paypal { @include icon("\f1ed") }
.pencil { @include icon("\f040") }
.pencilSquare { @include icon("\f14b") }
.pencilSquareOutline { @include icon("\f044") }
.percent { @include icon("\f295") }
.phone { @include icon("\f095") }
.phoneSquare { @include icon("\f098") }
.pictureOutline { @include icon("\f03e") }
.pieChart { @include icon("\f200") }
.piedPiper { @include icon("\f2ae") }
.piedPiperAlt { @include icon("\f1a8") }
.piedPiperPp { @include icon("\f1a7") }
.pinterest { @include icon("\f0d2") }
.pinterestP { @include icon("\f231") }
.pinterestSquare { @include icon("\f0d3") }
.plane { @include icon("\f072") }
.play { @include icon("\f04b") }
.playCircle { @include icon("\f144") }
.playCircleOutline { @include icon("\f01d") }
.plug { @include icon("\f1e6") }
.plus { @include icon("\f067") }
.plusCircle { @include icon("\f055") }
.plusSquare { @include icon("\f0fe") }
.plusSquareOutline { @include icon("\f196") }
.podcast { @include icon("\f2ce") }
.powerOff { @include icon("\f011") }
.print { @include icon("\f02f") }
.productHunt { @include icon("\f288") }
.puzzlePiece { @include icon("\f12e") }
.qq { @include icon("\f1d6") }
.qrcode { @include icon("\f029") }
.question { @include icon("\f128") }
.questionCircle { @include icon("\f059") }
.questionCircleOutline { @include icon("\f29c") }
.quora { @include icon("\f2c4") }
.quoteLeft { @include icon("\f10d") }
.quoteRight { @include icon("\f10e") }
.random { @include icon("\f074") }
.ravelry { @include icon("\f2d9") }
.rebel { @include icon("\f1d0") }
.recycle { @include icon("\f1b8") }
.reddit { @include icon("\f1a1") }
.redditAlien { @include icon("\f281") }
.redditSquare { @include icon("\f1a2") }
.refresh { @include icon("\f021") }
.registered { @include icon("\f25d") }
.renren { @include icon("\f18b") }
.repeat { @include icon("\f01e") }
.reply { @include icon("\f112") }
.replyAll { @include icon("\f122") }
.retweet { @include icon("\f079") }
.road { @include icon("\f018") }
.rocket { @include icon("\f135") }
.rss { @include icon("\f09e") }
.rssSquare { @include icon("\f143") }
.rub { @include icon("\f158") }
.safari { @include icon("\f267") }
.scissors { @include icon("\f0c4") }
.scribd { @include icon("\f28a") }
.search { @include icon("\f002") }
.searchMinus { @include icon("\f010") }
.searchPlus { @include icon("\f00e") }
.sellsy { @include icon("\f213") }
.server { @include icon("\f233") }
.share { @include icon("\f064") }
.shareAlt { @include icon("\f1e0") }
.shareAltSquare { @include icon("\f1e1") }
.shareSquare { @include icon("\f14d") }
.shareSquareOutline { @include icon("\f045") }
.shield { @include icon("\f132") }
.ship { @include icon("\f21a") }
.shirtsinbulk { @include icon("\f214") }
.shoppingBag { @include icon("\f290") }
.shoppingBasket { @include icon("\f291") }
.shoppingCart { @include icon("\f07a") }
.shower { @include icon("\f2cc") }
.signIn { @include icon("\f090") }
.signLanguage { @include icon("\f2a7") }
.signOut { @include icon("\f08b") }
.signal { @include icon("\f012") }
.simplybuilt { @include icon("\f215") }
.sitemap { @include icon("\f0e8") }
.skyatlas { @include icon("\f216") }
.skype { @include icon("\f17e") }
.slack { @include icon("\f198") }
.sliders { @include icon("\f1de") }
.slideshare { @include icon("\f1e7") }
.smileOutline { @include icon("\f118") }
.snapchat { @include icon("\f2ab") }
.snapchatGhost { @include icon("\f2ac") }
.snapchatSquare { @include icon("\f2ad") }
.snowflakeOutline { @include icon("\f2dc") }
.sort { @include icon("\f0dc") }
.sortAlphaAsc { @include icon("\f15d") }
.sortAlphaDesc { @include icon("\f15e") }
.sortAmountAsc { @include icon("\f160") }
.sortAmountDesc { @include icon("\f161") }
.sortAsc { @include icon("\f0de") }
.sortDesc { @include icon("\f0dd") }
.sortNumericAsc { @include icon("\f162") }
.sortNumericDesc { @include icon("\f163") }
.soundcloud { @include icon("\f1be") }
.spaceShuttle { @include icon("\f197") }
.spinner { @include icon("\f110") }
.spoon { @include icon("\f1b1") }
.spotify { @include icon("\f1bc") }
.square { @include icon("\f0c8") }
.squareOutline { @include icon("\f096") }
.stackExchange { @include icon("\f18d") }
.stackOverflow { @include icon("\f16c") }
.star { @include icon("\f005") }
.starHalf { @include icon("\f089") }
.starHalfOutline { @include icon("\f123") }
.starOutline { @include icon("\f006") }
.steam { @include icon("\f1b6") }
.steamSquare { @include icon("\f1b7") }
.stepBackward { @include icon("\f048") }
.stepForward { @include icon("\f051") }
.stethoscope { @include icon("\f0f1") }
.stickyNote { @include icon("\f249") }
.stickyNoteOutline { @include icon("\f24a") }
.stop { @include icon("\f04d") }
.stopCircle { @include icon("\f28d") }
.stopCircleOutline { @include icon("\f28e") }
.streetView { @include icon("\f21d") }
.strikethrough { @include icon("\f0cc") }
.stumbleupon { @include icon("\f1a4") }
.stumbleuponCircle { @include icon("\f1a3") }
.subscript { @include icon("\f12c") }
.subway { @include icon("\f239") }
.suitcase { @include icon("\f0f2") }
.sunOutline { @include icon("\f185") }
.superpowers { @include icon("\f2dd") }
.superscript { @include icon("\f12b") }
.table { @include icon("\f0ce") }
.tablet { @include icon("\f10a") }
.tachometer { @include icon("\f0e4") }
.tag { @include icon("\f02b") }
.tags { @include icon("\f02c") }
.tasks { @include icon("\f0ae") }
.taxi { @include icon("\f1ba") }
.telegram { @include icon("\f2c6") }
.television { @include icon("\f26c") }
.tencentWeibo { @include icon("\f1d5") }
.terminal { @include icon("\f120") }
.textHeight { @include icon("\f034") }
.textWidth { @include icon("\f035") }
.th { @include icon("\f00a") }
.thLarge { @include icon("\f009") }
.thList { @include icon("\f00b") }
.themeisle { @include icon("\f2b2") }
.thermometerEmpty { @include icon("\f2cb") }
.thermometerFull { @include icon("\f2c7") }
.thermometerHalf { @include icon("\f2c9") }
.thermometerQuarter { @include icon("\f2ca") }
.thermometerThreeQuarters { @include icon("\f2c8") }
.thumbTack { @include icon("\f08d") }
.thumbsDown { @include icon("\f165") }
.thumbsOutlineDown { @include icon("\f088") }
.thumbsOutlineUp { @include icon("\f087") }
.thumbsUp { @include icon("\f164") }
.ticket { @include icon("\f145") }
.times { @include icon("\f00d") }
.timesCircle { @include icon("\f057") }
.timesCircleOutline { @include icon("\f05c") }
.tint { @include icon("\f043") }
.toggleOff { @include icon("\f204") }
.toggleOn { @include icon("\f205") }
.trademark { @include icon("\f25c") }
.train { @include icon("\f238") }
.transgender { @include icon("\f224") }
.transgenderAlt { @include icon("\f225") }
.trash { @include icon("\f1f8") }
.trashOutline { @include icon("\f014") }
.tree { @include icon("\f1bb") }
.trello { @include icon("\f181") }
.tripadvisor { @include icon("\f262") }
.trophy { @include icon("\f091") }
.truck { @include icon("\f0d1") }
.try { @include icon("\f195") }
.tty { @include icon("\f1e4") }
.tumblr { @include icon("\f173") }
.tumblrSquare { @include icon("\f174") }
.twitch { @include icon("\f1e8") }
.twitter { @include icon("\f099") }
.twitterSquare { @include icon("\f081") }
.umbrella { @include icon("\f0e9") }
.underline { @include icon("\f0cd") }
.undo { @include icon("\f0e2") }
.universalAccess { @include icon("\f29a") }
.university { @include icon("\f19c") }
.unlock { @include icon("\f09c") }
.unlockAlt { @include icon("\f13e") }
.upload { @include icon("\f093") }
.usb { @include icon("\f287") }
.usd { @include icon("\f155") }
.user { @include icon("\f007") }
.userCircle { @include icon("\f2bd") }
.userCircleOutline { @include icon("\f2be") }
.userMd { @include icon("\f0f0") }
.userOutline { @include icon("\f2c0") }
.userPlus { @include icon("\f234") }
.userSecret { @include icon("\f21b") }
.userTimes { @include icon("\f235") }
.users { @include icon("\f0c0") }
.venus { @include icon("\f221") }
.venusDouble { @include icon("\f226") }
.venusMars { @include icon("\f228") }
.viacoin { @include icon("\f237") }
.viadeo { @include icon("\f2a9") }
.viadeoSquare { @include icon("\f2aa") }
.videoCamera { @include icon("\f03d") }
.vimeo { @include icon("\f27d") }
.vimeoSquare { @include icon("\f194") }
.vine { @include icon("\f1ca") }
.vk { @include icon("\f189") }
.volumeControlPhone { @include icon("\f2a0") }
.volumeDown { @include icon("\f027") }
.volumeOff { @include icon("\f026") }
.volumeUp { @include icon("\f028") }
.weibo { @include icon("\f18a") }
.weixin { @include icon("\f1d7") }
.whatsapp { @include icon("\f232") }
.wheelchair { @include icon("\f193") }
.wheelchairAlt { @include icon("\f29b") }
.wifi { @include icon("\f1eb") }
.wikipediaW { @include icon("\f266") }
.windowClose { @include icon("\f2d3") }
.windowCloseOutline { @include icon("\f2d4") }
.windowMaximize { @include icon("\f2d0") }
.windowMinimize { @include icon("\f2d1") }
.windowRestore { @include icon("\f2d2") }
.windows { @include icon("\f17a") }
.wordpress { @include icon("\f19a") }
.wpbeginner { @include icon("\f297") }
.wpexplorer { @include icon("\f2de") }
.wpforms { @include icon("\f298") }
.wrench { @include icon("\f0ad") }
.xing { @include icon("\f168") }
.xingSquare { @include icon("\f169") }
.yCombinator { @include icon("\f23b") }
.yahoo { @include icon("\f19e") }
.yelp { @include icon("\f1e9") }
.yoast { @include icon("\f2b1") }
.youtube { @include icon("\f167") }
.youtubePlay { @include icon("\f16a") }
.youtubeSquare { @include icon("\f166") }
