@import '../../variables.scss';
@import '../../utils.scss';

.textField {
  font-family: $font;
  color: $primary-color;
  border: none;
  outline: none;
  border-bottom: 2px solid transparent;

  &:focus {
    border-bottom: 2px solid $accent-color !important;
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
}