@import '../variables.scss';

.menu {
  width: 160px;
  padding-left: 45px;
  position: fixed;
  top: 100px;

  ul {
    li {
      a {
        font-family: 'Raleway';
        display: inline-block;
        line-height: 1.2em;
        padding: 8px 20px;
        color: $menu-item-text-color;
        width: 120px;

        &:hover {
          color: $menu-item-text-color;
          background-color: $menu-item-hover-color;
          border-radius: 5px
        };

        &:visited, &:active, &:link {
          color: $menu-item-text-color;
          text-decoration: none;
        }

        i {
          width: 20px;
          display: inline-block;
        }
      }
    }
  }
}