@import '~breakpoint-sass/stylesheets/breakpoint';
@import '../../variables.scss';
@import '../../utils.scss';

$cardColumns: 6;

.cardRow {
  display: flex;
  flex-wrap: wrap;
  padding: 7.5px;
  box-sizing: border-box;

  .cardCell {
    flex-grow: 1;
    width: percentage(1 / $cardColumns);
    flex-basis: 200px; // TODO
    margin: 7.5px;
    display: flex;
    min-width: 0;
  }

  .card {
    box-sizing: border-box;
    width: 100%;
    @include cardLike
  }
}
