@import '../variables.scss';

.outerContent {
  position: absolute;
  top: $header-height-l;
  left: $sidebar-width-l;
  width: calc(100% - #{$sidebar-width-l});
  box-sizing: border-box;
  .content {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 0px 0px 20px;
  }
}
