@font-face {
  font-family: 'FontAwesome';
  src: url('font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin createIcon($content) {
  &:before {
    content: $content
  }
}

.addressBook { @include createIcon("\f2b9") }
.addressBookOutline { @include createIcon("\f2ba") }
.addressCard { @include createIcon("\f2bb") }
.addressCardOutline { @include createIcon("\f2bc") }
.adjust { @include createIcon("\f042") }
.adn { @include createIcon("\f170") }
.alignCenter { @include createIcon("\f037") }
.alignJustify { @include createIcon("\f039") }
.alignLeft { @include createIcon("\f036") }
.alignRight { @include createIcon("\f038") }
.amazon { @include createIcon("\f270") }
.ambulance { @include createIcon("\f0f9") }
.americanSignLanguageInterpreting { @include createIcon("\f2a3") }
.anchor { @include createIcon("\f13d") }
.android { @include createIcon("\f17b") }
.angellist { @include createIcon("\f209") }
.angleDoubleDown { @include createIcon("\f103") }
.angleDoubleLeft { @include createIcon("\f100") }
.angleDoubleRight { @include createIcon("\f101") }
.angleDoubleUp { @include createIcon("\f102") }
.angleDown { @include createIcon("\f107") }
.angleLeft { @include createIcon("\f104") }
.angleRight { @include createIcon("\f105") }
.angleUp { @include createIcon("\f106") }
.apple { @include createIcon("\f179") }
.archive { @include createIcon("\f187") }
.areaChart { @include createIcon("\f1fe") }
.arrowCircleDown { @include createIcon("\f0ab") }
.arrowCircleLeft { @include createIcon("\f0a8") }
.arrowCircleOutlineDown { @include createIcon("\f01a") }
.arrowCircleOutlineLeft { @include createIcon("\f190") }
.arrowCircleOutlineRight { @include createIcon("\f18e") }
.arrowCircleOutlineUp { @include createIcon("\f01b") }
.arrowCircleRight { @include createIcon("\f0a9") }
.arrowCircleUp { @include createIcon("\f0aa") }
.arrowDown { @include createIcon("\f063") }
.arrowLeft { @include createIcon("\f060") }
.arrowRight { @include createIcon("\f061") }
.arrowUp { @include createIcon("\f062") }
.arrows { @include createIcon("\f047") }
.arrowsAlt { @include createIcon("\f0b2") }
.arrowsH { @include createIcon("\f07e") }
.arrowsV { @include createIcon("\f07d") }
.assistiveListeningSystems { @include createIcon("\f2a2") }
.asterisk { @include createIcon("\f069") }
.at { @include createIcon("\f1fa") }
.audioDescription { @include createIcon("\f29e") }
.backward { @include createIcon("\f04a") }
.balanceScale { @include createIcon("\f24e") }
.ban { @include createIcon("\f05e") }
.bandcamp { @include createIcon("\f2d5") }
.barChart { @include createIcon("\f080") }
.barcode { @include createIcon("\f02a") }
.bars { @include createIcon("\f0c9") }
.bath { @include createIcon("\f2cd") }
.batteryEmpty { @include createIcon("\f244") }
.batteryFull { @include createIcon("\f240") }
.batteryHalf { @include createIcon("\f242") }
.batteryQuarter { @include createIcon("\f243") }
.batteryThreeQuarters { @include createIcon("\f241") }
.bed { @include createIcon("\f236") }
.beer { @include createIcon("\f0fc") }
.behance { @include createIcon("\f1b4") }
.behanceSquare { @include createIcon("\f1b5") }
.bell { @include createIcon("\f0f3") }
.bellOutline { @include createIcon("\f0a2") }
.bellSlash { @include createIcon("\f1f6") }
.bellSlashOutline { @include createIcon("\f1f7") }
.bicycle { @include createIcon("\f206") }
.binoculars { @include createIcon("\f1e5") }
.birthdayCake { @include createIcon("\f1fd") }
.bitbucket { @include createIcon("\f171") }
.bitbucketSquare { @include createIcon("\f172") }
.blackTie { @include createIcon("\f27e") }
.blind { @include createIcon("\f29d") }
.bluetooth { @include createIcon("\f293") }
.bluetoothB { @include createIcon("\f294") }
.bold { @include createIcon("\f032") }
.bolt { @include createIcon("\f0e7") }
.bomb { @include createIcon("\f1e2") }
.book { @include createIcon("\f02d") }
.bookmark { @include createIcon("\f02e") }
.bookmarkOutline { @include createIcon("\f097") }
.braille { @include createIcon("\f2a1") }
.briefcase { @include createIcon("\f0b1") }
.btc { @include createIcon("\f15a") }
.bug { @include createIcon("\f188") }
.building { @include createIcon("\f1ad") }
.buildingOutline { @include createIcon("\f0f7") }
.bullhorn { @include createIcon("\f0a1") }
.bullseye { @include createIcon("\f140") }
.bus { @include createIcon("\f207") }
.buysellads { @include createIcon("\f20d") }
.calculator { @include createIcon("\f1ec") }
.calendar { @include createIcon("\f073") }
.calendarCheckOutline { @include createIcon("\f274") }
.calendarMinusOutline { @include createIcon("\f272") }
.calendarOutline { @include createIcon("\f133") }
.calendarPlusOutline { @include createIcon("\f271") }
.calendarTimesOutline { @include createIcon("\f273") }
.camera { @include createIcon("\f030") }
.cameraRetro { @include createIcon("\f083") }
.car { @include createIcon("\f1b9") }
.caretDown { @include createIcon("\f0d7") }
.caretLeft { @include createIcon("\f0d9") }
.caretRight { @include createIcon("\f0da") }
.caretSquareOutlineDown { @include createIcon("\f150") }
.caretSquareOutlineLeft { @include createIcon("\f191") }
.caretSquareOutlineRight { @include createIcon("\f152") }
.caretSquareOutlineUp { @include createIcon("\f151") }
.caretUp { @include createIcon("\f0d8") }
.cartArrowDown { @include createIcon("\f218") }
.cartPlus { @include createIcon("\f217") }
.cc { @include createIcon("\f20a") }
.ccAmex { @include createIcon("\f1f3") }
.ccDinersClub { @include createIcon("\f24c") }
.ccDiscover { @include createIcon("\f1f2") }
.ccJcb { @include createIcon("\f24b") }
.ccMastercard { @include createIcon("\f1f1") }
.ccPaypal { @include createIcon("\f1f4") }
.ccStripe { @include createIcon("\f1f5") }
.ccVisa { @include createIcon("\f1f0") }
.certificate { @include createIcon("\f0a3") }
.chainBroken { @include createIcon("\f127") }
.check { @include createIcon("\f00c") }
.checkCircle { @include createIcon("\f058") }
.checkCircleOutline { @include createIcon("\f05d") }
.checkSquare { @include createIcon("\f14a") }
.checkSquareOutline { @include createIcon("\f046") }
.chevronCircleDown { @include createIcon("\f13a") }
.chevronCircleLeft { @include createIcon("\f137") }
.chevronCircleRight { @include createIcon("\f138") }
.chevronCircleUp { @include createIcon("\f139") }
.chevronDown { @include createIcon("\f078") }
.chevronLeft { @include createIcon("\f053") }
.chevronRight { @include createIcon("\f054") }
.chevronUp { @include createIcon("\f077") }
.child { @include createIcon("\f1ae") }
.chrome { @include createIcon("\f268") }
.circle { @include createIcon("\f111") }
.circleOutline { @include createIcon("\f10c") }
.circleOutlineNotch { @include createIcon("\f1ce") }
.circleThin { @include createIcon("\f1db") }
.clipboard { @include createIcon("\f0ea") }
.clockOutline { @include createIcon("\f017") }
.clone { @include createIcon("\f24d") }
.cloud { @include createIcon("\f0c2") }
.cloudDownload { @include createIcon("\f0ed") }
.cloudUpload { @include createIcon("\f0ee") }
.code { @include createIcon("\f121") }
.codeFork { @include createIcon("\f126") }
.codepen { @include createIcon("\f1cb") }
.codiepie { @include createIcon("\f284") }
.coffee { @include createIcon("\f0f4") }
.cog { @include createIcon("\f013") }
.cogs { @include createIcon("\f085") }
.columns { @include createIcon("\f0db") }
.comment { @include createIcon("\f075") }
.commentOutline { @include createIcon("\f0e5") }
.commenting { @include createIcon("\f27a") }
.commentingOutline { @include createIcon("\f27b") }
.comments { @include createIcon("\f086") }
.commentsOutline { @include createIcon("\f0e6") }
.compass { @include createIcon("\f14e") }
.compress { @include createIcon("\f066") }
.connectdevelop { @include createIcon("\f20e") }
.contao { @include createIcon("\f26d") }
.copyright { @include createIcon("\f1f9") }
.creativeCommons { @include createIcon("\f25e") }
.creditCard { @include createIcon("\f09d") }
.creditCardAlt { @include createIcon("\f283") }
.crop { @include createIcon("\f125") }
.crosshairs { @include createIcon("\f05b") }
.css3 { @include createIcon("\f13c") }
.cube { @include createIcon("\f1b2") }
.cubes { @include createIcon("\f1b3") }
.cutlery { @include createIcon("\f0f5") }
.dashcube { @include createIcon("\f210") }
.database { @include createIcon("\f1c0") }
.deaf { @include createIcon("\f2a4") }
.delicious { @include createIcon("\f1a5") }
.desktop { @include createIcon("\f108") }
.deviantart { @include createIcon("\f1bd") }
.diamond { @include createIcon("\f219") }
.digg { @include createIcon("\f1a6") }
.dotCircleOutline { @include createIcon("\f192") }
.download { @include createIcon("\f019") }
.dribbble { @include createIcon("\f17d") }
.dropbox { @include createIcon("\f16b") }
.drupal { @include createIcon("\f1a9") }
.edge { @include createIcon("\f282") }
.eercast { @include createIcon("\f2da") }
.eject { @include createIcon("\f052") }
.ellipsisH { @include createIcon("\f141") }
.ellipsisV { @include createIcon("\f142") }
.empire { @include createIcon("\f1d1") }
.envelope { @include createIcon("\f0e0") }
.envelopeOpen { @include createIcon("\f2b6") }
.envelopeOpenOutline { @include createIcon("\f2b7") }
.envelopeOutline { @include createIcon("\f003") }
.envelopeSquare { @include createIcon("\f199") }
.envira { @include createIcon("\f299") }
.eraser { @include createIcon("\f12d") }
.etsy { @include createIcon("\f2d7") }
.eur { @include createIcon("\f153") }
.exchange { @include createIcon("\f0ec") }
.exclamation { @include createIcon("\f12a") }
.exclamationCircle { @include createIcon("\f06a") }
.exclamationTriangle { @include createIcon("\f071") }
.expand { @include createIcon("\f065") }
.expeditedssl { @include createIcon("\f23e") }
.externalLink { @include createIcon("\f08e") }
.externalLinkSquare { @include createIcon("\f14c") }
.eye { @include createIcon("\f06e") }
.eyeSlash { @include createIcon("\f070") }
.eyedropper { @include createIcon("\f1fb") }
.facebook { @include createIcon("\f09a") }
.facebookOfficial { @include createIcon("\f230") }
.facebookSquare { @include createIcon("\f082") }
.fastBackward { @include createIcon("\f049") }
.fastForward { @include createIcon("\f050") }
.fax { @include createIcon("\f1ac") }
.female { @include createIcon("\f182") }
.fighterJet { @include createIcon("\f0fb") }
.file { @include createIcon("\f15b") }
.fileArchiveOutline { @include createIcon("\f1c6") }
.fileAudioOutline { @include createIcon("\f1c7") }
.fileCodeOutline { @include createIcon("\f1c9") }
.fileExcelOutline { @include createIcon("\f1c3") }
.fileImageOutline { @include createIcon("\f1c5") }
.fileOutline { @include createIcon("\f016") }
.filePdfOutline { @include createIcon("\f1c1") }
.filePowerpointOutline { @include createIcon("\f1c4") }
.fileText { @include createIcon("\f15c") }
.fileTextOutline { @include createIcon("\f0f6") }
.fileVideoOutline { @include createIcon("\f1c8") }
.fileWordOutline { @include createIcon("\f1c2") }
.filesOutline { @include createIcon("\f0c5") }
.film { @include createIcon("\f008") }
.filter { @include createIcon("\f0b0") }
.fire { @include createIcon("\f06d") }
.fireExtinguisher { @include createIcon("\f134") }
.firefox { @include createIcon("\f269") }
.firstOrder { @include createIcon("\f2b0") }
.flag { @include createIcon("\f024") }
.flagCheckered { @include createIcon("\f11e") }
.flagOutline { @include createIcon("\f11d") }
.flask { @include createIcon("\f0c3") }
.flickr { @include createIcon("\f16e") }
.floppyOutline { @include createIcon("\f0c7") }
.folder { @include createIcon("\f07b") }
.folderOpen { @include createIcon("\f07c") }
.folderOpenOutline { @include createIcon("\f115") }
.folderOutline { @include createIcon("\f114") }
.font { @include createIcon("\f031") }
.fontAwesome { @include createIcon("\f2b4") }
.fonticons { @include createIcon("\f280") }
.fortAwesome { @include createIcon("\f286") }
.forumbee { @include createIcon("\f211") }
.forward { @include createIcon("\f04e") }
.foursquare { @include createIcon("\f180") }
.freeCodeCamp { @include createIcon("\f2c5") }
.frownOutline { @include createIcon("\f119") }
.futbolOutline { @include createIcon("\f1e3") }
.gamepad { @include createIcon("\f11b") }
.gavel { @include createIcon("\f0e3") }
.gbp { @include createIcon("\f154") }
.genderless { @include createIcon("\f22d") }
.getPocket { @include createIcon("\f265") }
.gg { @include createIcon("\f260") }
.ggCircle { @include createIcon("\f261") }
.gift { @include createIcon("\f06b") }
.git { @include createIcon("\f1d3") }
.gitSquare { @include createIcon("\f1d2") }
.github { @include createIcon("\f09b") }
.githubAlt { @include createIcon("\f113") }
.githubSquare { @include createIcon("\f092") }
.gitlab { @include createIcon("\f296") }
.glass { @include createIcon("\f000") }
.glide { @include createIcon("\f2a5") }
.glideG { @include createIcon("\f2a6") }
.globe { @include createIcon("\f0ac") }
.google { @include createIcon("\f1a0") }
.googlePlus { @include createIcon("\f0d5") }
.googlePlusOfficial { @include createIcon("\f2b3") }
.googlePlusSquare { @include createIcon("\f0d4") }
.googleWallet { @include createIcon("\f1ee") }
.graduationCap { @include createIcon("\f19d") }
.gratipay { @include createIcon("\f184") }
.grav { @include createIcon("\f2d6") }
.hSquare { @include createIcon("\f0fd") }
.hackerNews { @include createIcon("\f1d4") }
.handLizardOutline { @include createIcon("\f258") }
.handOutlineDown { @include createIcon("\f0a7") }
.handOutlineLeft { @include createIcon("\f0a5") }
.handOutlineRight { @include createIcon("\f0a4") }
.handOutlineUp { @include createIcon("\f0a6") }
.handPaperOutline { @include createIcon("\f256") }
.handPeaceOutline { @include createIcon("\f25b") }
.handPointerOutline { @include createIcon("\f25a") }
.handRockOutline { @include createIcon("\f255") }
.handScissorsOutline { @include createIcon("\f257") }
.handSpockOutline { @include createIcon("\f259") }
.handshakeOutline { @include createIcon("\f2b5") }
.hashtag { @include createIcon("\f292") }
.hddOutline { @include createIcon("\f0a0") }
.header { @include createIcon("\f1dc") }
.headphones { @include createIcon("\f025") }
.heart { @include createIcon("\f004") }
.heartOutline { @include createIcon("\f08a") }
.heartbeat { @include createIcon("\f21e") }
.history { @include createIcon("\f1da") }
.home { @include createIcon("\f015") }
.hospitalOutline { @include createIcon("\f0f8") }
.hourglass { @include createIcon("\f254") }
.hourglassEnd { @include createIcon("\f253") }
.hourglassHalf { @include createIcon("\f252") }
.hourglassOutline { @include createIcon("\f250") }
.hourglassStart { @include createIcon("\f251") }
.houzz { @include createIcon("\f27c") }
.html5 { @include createIcon("\f13b") }
.iCursor { @include createIcon("\f246") }
.idBadge { @include createIcon("\f2c1") }
.idCard { @include createIcon("\f2c2") }
.idCardOutline { @include createIcon("\f2c3") }
.ils { @include createIcon("\f20b") }
.imdb { @include createIcon("\f2d8") }
.inbox { @include createIcon("\f01c") }
.indent { @include createIcon("\f03c") }
.industry { @include createIcon("\f275") }
.info { @include createIcon("\f129") }
.infoCircle { @include createIcon("\f05a") }
.inr { @include createIcon("\f156") }
.instagram { @include createIcon("\f16d") }
.internetExplorer { @include createIcon("\f26b") }
.ioxhost { @include createIcon("\f208") }
.italic { @include createIcon("\f033") }
.joomla { @include createIcon("\f1aa") }
.jpy { @include createIcon("\f157") }
.jsfiddle { @include createIcon("\f1cc") }
.key { @include createIcon("\f084") }
.keyboardOutline { @include createIcon("\f11c") }
.krw { @include createIcon("\f159") }
.language { @include createIcon("\f1ab") }
.laptop { @include createIcon("\f109") }
.lastfm { @include createIcon("\f202") }
.lastfmSquare { @include createIcon("\f203") }
.leaf { @include createIcon("\f06c") }
.leanpub { @include createIcon("\f212") }
.lemonOutline { @include createIcon("\f094") }
.levelDown { @include createIcon("\f149") }
.levelUp { @include createIcon("\f148") }
.lifeRing { @include createIcon("\f1cd") }
.lightbulbOutline { @include createIcon("\f0eb") }
.lineChart { @include createIcon("\f201") }
.link { @include createIcon("\f0c1") }
.linkedin { @include createIcon("\f0e1") }
.linkedinSquare { @include createIcon("\f08c") }
.linode { @include createIcon("\f2b8") }
.linux { @include createIcon("\f17c") }
.list { @include createIcon("\f03a") }
.listAlt { @include createIcon("\f022") }
.listOl { @include createIcon("\f0cb") }
.listUl { @include createIcon("\f0ca") }
.locationArrow { @include createIcon("\f124") }
.lock { @include createIcon("\f023") }
.longArrowDown { @include createIcon("\f175") }
.longArrowLeft { @include createIcon("\f177") }
.longArrowRight { @include createIcon("\f178") }
.longArrowUp { @include createIcon("\f176") }
.lowVision { @include createIcon("\f2a8") }
.magic { @include createIcon("\f0d0") }
.magnet { @include createIcon("\f076") }
.male { @include createIcon("\f183") }
.map { @include createIcon("\f279") }
.mapMarker { @include createIcon("\f041") }
.mapOutline { @include createIcon("\f278") }
.mapPin { @include createIcon("\f276") }
.mapSigns { @include createIcon("\f277") }
.mars { @include createIcon("\f222") }
.marsDouble { @include createIcon("\f227") }
.marsStroke { @include createIcon("\f229") }
.marsStrokeH { @include createIcon("\f22b") }
.marsStrokeV { @include createIcon("\f22a") }
.maxcdn { @include createIcon("\f136") }
.meanpath { @include createIcon("\f20c") }
.medium { @include createIcon("\f23a") }
.medkit { @include createIcon("\f0fa") }
.meetup { @include createIcon("\f2e0") }
.mehOutline { @include createIcon("\f11a") }
.mercury { @include createIcon("\f223") }
.microchip { @include createIcon("\f2db") }
.microphone { @include createIcon("\f130") }
.microphoneSlash { @include createIcon("\f131") }
.minus { @include createIcon("\f068") }
.minusCircle { @include createIcon("\f056") }
.minusSquare { @include createIcon("\f146") }
.minusSquareOutline { @include createIcon("\f147") }
.mixcloud { @include createIcon("\f289") }
.mobile { @include createIcon("\f10b") }
.modx { @include createIcon("\f285") }
.money { @include createIcon("\f0d6") }
.moonOutline { @include createIcon("\f186") }
.motorcycle { @include createIcon("\f21c") }
.mousePointer { @include createIcon("\f245") }
.music { @include createIcon("\f001") }
.neuter { @include createIcon("\f22c") }
.newspaperOutline { @include createIcon("\f1ea") }
.objectGroup { @include createIcon("\f247") }
.objectUngroup { @include createIcon("\f248") }
.odnoklassniki { @include createIcon("\f263") }
.odnoklassnikiSquare { @include createIcon("\f264") }
.opencart { @include createIcon("\f23d") }
.openid { @include createIcon("\f19b") }
.opera { @include createIcon("\f26a") }
.optinMonster { @include createIcon("\f23c") }
.outdent { @include createIcon("\f03b") }
.pagelines { @include createIcon("\f18c") }
.paintBrush { @include createIcon("\f1fc") }
.paperPlane { @include createIcon("\f1d8") }
.paperPlaneOutline { @include createIcon("\f1d9") }
.paperclip { @include createIcon("\f0c6") }
.paragraph { @include createIcon("\f1dd") }
.pause { @include createIcon("\f04c") }
.pauseCircle { @include createIcon("\f28b") }
.pauseCircleOutline { @include createIcon("\f28c") }
.paw { @include createIcon("\f1b0") }
.paypal { @include createIcon("\f1ed") }
.pencil { @include createIcon("\f040") }
.pencilSquare { @include createIcon("\f14b") }
.pencilSquareOutline { @include createIcon("\f044") }
.percent { @include createIcon("\f295") }
.phone { @include createIcon("\f095") }
.phoneSquare { @include createIcon("\f098") }
.pictureOutline { @include createIcon("\f03e") }
.pieChart { @include createIcon("\f200") }
.piedPiper { @include createIcon("\f2ae") }
.piedPiperAlt { @include createIcon("\f1a8") }
.piedPiperPp { @include createIcon("\f1a7") }
.pinterest { @include createIcon("\f0d2") }
.pinterestP { @include createIcon("\f231") }
.pinterestSquare { @include createIcon("\f0d3") }
.plane { @include createIcon("\f072") }
.play { @include createIcon("\f04b") }
.playCircle { @include createIcon("\f144") }
.playCircleOutline { @include createIcon("\f01d") }
.plug { @include createIcon("\f1e6") }
.plus { @include createIcon("\f067") }
.plusCircle { @include createIcon("\f055") }
.plusSquare { @include createIcon("\f0fe") }
.plusSquareOutline { @include createIcon("\f196") }
.podcast { @include createIcon("\f2ce") }
.powerOff { @include createIcon("\f011") }
.print { @include createIcon("\f02f") }
.productHunt { @include createIcon("\f288") }
.puzzlePiece { @include createIcon("\f12e") }
.qq { @include createIcon("\f1d6") }
.qrcode { @include createIcon("\f029") }
.question { @include createIcon("\f128") }
.questionCircle { @include createIcon("\f059") }
.questionCircleOutline { @include createIcon("\f29c") }
.quora { @include createIcon("\f2c4") }
.quoteLeft { @include createIcon("\f10d") }
.quoteRight { @include createIcon("\f10e") }
.random { @include createIcon("\f074") }
.ravelry { @include createIcon("\f2d9") }
.rebel { @include createIcon("\f1d0") }
.recycle { @include createIcon("\f1b8") }
.reddit { @include createIcon("\f1a1") }
.redditAlien { @include createIcon("\f281") }
.redditSquare { @include createIcon("\f1a2") }
.refresh { @include createIcon("\f021") }
.registered { @include createIcon("\f25d") }
.renren { @include createIcon("\f18b") }
.repeat { @include createIcon("\f01e") }
.reply { @include createIcon("\f112") }
.replyAll { @include createIcon("\f122") }
.retweet { @include createIcon("\f079") }
.road { @include createIcon("\f018") }
.rocket { @include createIcon("\f135") }
.rss { @include createIcon("\f09e") }
.rssSquare { @include createIcon("\f143") }
.rub { @include createIcon("\f158") }
.safari { @include createIcon("\f267") }
.scissors { @include createIcon("\f0c4") }
.scribd { @include createIcon("\f28a") }
.search { @include createIcon("\f002") }
.searchMinus { @include createIcon("\f010") }
.searchPlus { @include createIcon("\f00e") }
.sellsy { @include createIcon("\f213") }
.server { @include createIcon("\f233") }
.share { @include createIcon("\f064") }
.shareAlt { @include createIcon("\f1e0") }
.shareAltSquare { @include createIcon("\f1e1") }
.shareSquare { @include createIcon("\f14d") }
.shareSquareOutline { @include createIcon("\f045") }
.shield { @include createIcon("\f132") }
.ship { @include createIcon("\f21a") }
.shirtsinbulk { @include createIcon("\f214") }
.shoppingBag { @include createIcon("\f290") }
.shoppingBasket { @include createIcon("\f291") }
.shoppingCart { @include createIcon("\f07a") }
.shower { @include createIcon("\f2cc") }
.signIn { @include createIcon("\f090") }
.signLanguage { @include createIcon("\f2a7") }
.signOut { @include createIcon("\f08b") }
.signal { @include createIcon("\f012") }
.simplybuilt { @include createIcon("\f215") }
.sitemap { @include createIcon("\f0e8") }
.skyatlas { @include createIcon("\f216") }
.skype { @include createIcon("\f17e") }
.slack { @include createIcon("\f198") }
.sliders { @include createIcon("\f1de") }
.slideshare { @include createIcon("\f1e7") }
.smileOutline { @include createIcon("\f118") }
.snapchat { @include createIcon("\f2ab") }
.snapchatGhost { @include createIcon("\f2ac") }
.snapchatSquare { @include createIcon("\f2ad") }
.snowflakeOutline { @include createIcon("\f2dc") }
.sort { @include createIcon("\f0dc") }
.sortAlphaAsc { @include createIcon("\f15d") }
.sortAlphaDesc { @include createIcon("\f15e") }
.sortAmountAsc { @include createIcon("\f160") }
.sortAmountDesc { @include createIcon("\f161") }
.sortAsc { @include createIcon("\f0de") }
.sortDesc { @include createIcon("\f0dd") }
.sortNumericAsc { @include createIcon("\f162") }
.sortNumericDesc { @include createIcon("\f163") }
.soundcloud { @include createIcon("\f1be") }
.spaceShuttle { @include createIcon("\f197") }
.spinner { @include createIcon("\f110") }
.spoon { @include createIcon("\f1b1") }
.spotify { @include createIcon("\f1bc") }
.square { @include createIcon("\f0c8") }
.squareOutline { @include createIcon("\f096") }
.stackExchange { @include createIcon("\f18d") }
.stackOverflow { @include createIcon("\f16c") }
.star { @include createIcon("\f005") }
.starHalf { @include createIcon("\f089") }
.starHalfOutline { @include createIcon("\f123") }
.starOutline { @include createIcon("\f006") }
.steam { @include createIcon("\f1b6") }
.steamSquare { @include createIcon("\f1b7") }
.stepBackward { @include createIcon("\f048") }
.stepForward { @include createIcon("\f051") }
.stethoscope { @include createIcon("\f0f1") }
.stickyNote { @include createIcon("\f249") }
.stickyNoteOutline { @include createIcon("\f24a") }
.stop { @include createIcon("\f04d") }
.stopCircle { @include createIcon("\f28d") }
.stopCircleOutline { @include createIcon("\f28e") }
.streetView { @include createIcon("\f21d") }
.strikethrough { @include createIcon("\f0cc") }
.stumbleupon { @include createIcon("\f1a4") }
.stumbleuponCircle { @include createIcon("\f1a3") }
.subscript { @include createIcon("\f12c") }
.subway { @include createIcon("\f239") }
.suitcase { @include createIcon("\f0f2") }
.sunOutline { @include createIcon("\f185") }
.superpowers { @include createIcon("\f2dd") }
.superscript { @include createIcon("\f12b") }
.table { @include createIcon("\f0ce") }
.tablet { @include createIcon("\f10a") }
.tachometer { @include createIcon("\f0e4") }
.tag { @include createIcon("\f02b") }
.tags { @include createIcon("\f02c") }
.tasks { @include createIcon("\f0ae") }
.taxi { @include createIcon("\f1ba") }
.telegram { @include createIcon("\f2c6") }
.television { @include createIcon("\f26c") }
.tencentWeibo { @include createIcon("\f1d5") }
.terminal { @include createIcon("\f120") }
.textHeight { @include createIcon("\f034") }
.textWidth { @include createIcon("\f035") }
.th { @include createIcon("\f00a") }
.thLarge { @include createIcon("\f009") }
.thList { @include createIcon("\f00b") }
.themeisle { @include createIcon("\f2b2") }
.thermometerEmpty { @include createIcon("\f2cb") }
.thermometerFull { @include createIcon("\f2c7") }
.thermometerHalf { @include createIcon("\f2c9") }
.thermometerQuarter { @include createIcon("\f2ca") }
.thermometerThreeQuarters { @include createIcon("\f2c8") }
.thumbTack { @include createIcon("\f08d") }
.thumbsDown { @include createIcon("\f165") }
.thumbsOutlineDown { @include createIcon("\f088") }
.thumbsOutlineUp { @include createIcon("\f087") }
.thumbsUp { @include createIcon("\f164") }
.ticket { @include createIcon("\f145") }
.times { @include createIcon("\f00d") }
.timesCircle { @include createIcon("\f057") }
.timesCircleOutline { @include createIcon("\f05c") }
.tint { @include createIcon("\f043") }
.toggleOff { @include createIcon("\f204") }
.toggleOn { @include createIcon("\f205") }
.trademark { @include createIcon("\f25c") }
.train { @include createIcon("\f238") }
.transgender { @include createIcon("\f224") }
.transgenderAlt { @include createIcon("\f225") }
.trash { @include createIcon("\f1f8") }
.trashOutline { @include createIcon("\f014") }
.tree { @include createIcon("\f1bb") }
.trello { @include createIcon("\f181") }
.tripadvisor { @include createIcon("\f262") }
.trophy { @include createIcon("\f091") }
.truck { @include createIcon("\f0d1") }
.try { @include createIcon("\f195") }
.tty { @include createIcon("\f1e4") }
.tumblr { @include createIcon("\f173") }
.tumblrSquare { @include createIcon("\f174") }
.twitch { @include createIcon("\f1e8") }
.twitter { @include createIcon("\f099") }
.twitterSquare { @include createIcon("\f081") }
.umbrella { @include createIcon("\f0e9") }
.underline { @include createIcon("\f0cd") }
.undo { @include createIcon("\f0e2") }
.universalAccess { @include createIcon("\f29a") }
.university { @include createIcon("\f19c") }
.unlock { @include createIcon("\f09c") }
.unlockAlt { @include createIcon("\f13e") }
.upload { @include createIcon("\f093") }
.usb { @include createIcon("\f287") }
.usd { @include createIcon("\f155") }
.user { @include createIcon("\f007") }
.userCircle { @include createIcon("\f2bd") }
.userCircleOutline { @include createIcon("\f2be") }
.userMd { @include createIcon("\f0f0") }
.userOutline { @include createIcon("\f2c0") }
.userPlus { @include createIcon("\f234") }
.userSecret { @include createIcon("\f21b") }
.userTimes { @include createIcon("\f235") }
.users { @include createIcon("\f0c0") }
.venus { @include createIcon("\f221") }
.venusDouble { @include createIcon("\f226") }
.venusMars { @include createIcon("\f228") }
.viacoin { @include createIcon("\f237") }
.viadeo { @include createIcon("\f2a9") }
.viadeoSquare { @include createIcon("\f2aa") }
.videoCamera { @include createIcon("\f03d") }
.vimeo { @include createIcon("\f27d") }
.vimeoSquare { @include createIcon("\f194") }
.vine { @include createIcon("\f1ca") }
.vk { @include createIcon("\f189") }
.volumeControlPhone { @include createIcon("\f2a0") }
.volumeDown { @include createIcon("\f027") }
.volumeOff { @include createIcon("\f026") }
.volumeUp { @include createIcon("\f028") }
.weibo { @include createIcon("\f18a") }
.weixin { @include createIcon("\f1d7") }
.whatsapp { @include createIcon("\f232") }
.wheelchair { @include createIcon("\f193") }
.wheelchairAlt { @include createIcon("\f29b") }
.wifi { @include createIcon("\f1eb") }
.wikipediaW { @include createIcon("\f266") }
.windowClose { @include createIcon("\f2d3") }
.windowCloseOutline { @include createIcon("\f2d4") }
.windowMaximize { @include createIcon("\f2d0") }
.windowMinimize { @include createIcon("\f2d1") }
.windowRestore { @include createIcon("\f2d2") }
.windows { @include createIcon("\f17a") }
.wordpress { @include createIcon("\f19a") }
.wpbeginner { @include createIcon("\f297") }
.wpexplorer { @include createIcon("\f2de") }
.wpforms { @include createIcon("\f298") }
.wrench { @include createIcon("\f0ad") }
.xing { @include createIcon("\f168") }
.xingSquare { @include createIcon("\f169") }
.yCombinator { @include createIcon("\f23b") }
.yahoo { @include createIcon("\f19e") }
.yelp { @include createIcon("\f1e9") }
.yoast { @include createIcon("\f2b1") }
.youtube { @include createIcon("\f167") }
.youtubePlay { @include createIcon("\f16a") }
.youtubeSquare { @include createIcon("\f166") }
