@import '../variables.scss';
@import '../utils.scss';

.sidebar {
  width: $sidebar-width-l;
  height: 100vh;
  position: fixed;
  box-sizing: border-box;
  z-index: 2;
  box-shadow: 0px 0px 8px #999;

  .title {
    height: $header-height-l;
    border-bottom: 1px solid $muted-color;
    h1 {
      margin-left: 12px;
      @include verticalCenter;
      font-family: $font;
      font-size: $logo-font-size;
      font-weight: $logo-font-weight;
      color: $primary-color;
    }
    i {
      color: $accent-color
    }
  }
}
