@import '../../variables.scss';
@import '../../utils.scss';

.dataContainer {
  .vitalsIcon {
    margin-top: 7px; // TODO how the fuck is it possible to center this vertically???
    font-size: 1.5em;
    float: left;
  }

  .textContainer {
    span, input {
      display: block;
      font-family: $font;
      text-align: right;
      width: auto;
    }

    %valueBase {
      font: 1.3em $font;
      clear: left;
    }

    .valueText {
      @extend %valueBase;
      margin-bottom: 2px;
    }
    .valueInput {
      @extend %valueBase;
      padding: 0px;
      margin: 0px;
      outline: none;
      width: 150px;
    }
    float: right;
  }

  * {
    color: $primary-color;
    box-sizing: border-box;
  }

  padding: 10px;
  clear: both;
  box-sizing: border-box;
  border-bottom: 1px solid $muted-color;
}
